<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemonsSoulsSaveOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemonsSoulsSaveOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DemonsSoulsSaveOrganizer.Properties.Settings>
            <setting name="SavefileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfilesDirectory" serializeAs="String">
                <value />
            </setting>
        </DemonsSoulsSaveOrganizer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DemonsSoulsSaveOrganizer.Properties.Settings>
            <setting name="AboutLink" serializeAs="String">
                <value>https://github.com/NaxHPL/DemonsSoulsSaveOrganizer</value>
            </setting>
        </DemonsSoulsSaveOrganizer.Properties.Settings>
    </applicationSettings>
</configuration>